





/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
	#social-media-header{
		visibility: visible;
	}
	
	#navigation ul > li > a {		
		font-size: 1.7em;
		padding-right: 35px;
	}
	
	.staff-member{
		float: none;
		list-style: none;
		border-bottom: 3px solid #eeeeee;
		height: 150px;
		padding-top: 20px;
	}

}




/* #Tablet (Portrait)
================================================== */
/*margin: 0 auto*/
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
	#featured-content{
		display:none;
	}
	
	#spotlight{
		display:none;
	}
	
	#upcoming-shows{
		position: relative;
		top: -40px;
	}
	
	#navigation ul > li > a {
		float: left;
		display: inline-block;
		text-decoration: none;
		font-size: 1.3em;
		padding-right: 7px;
	}
	#exec-staff-list ul li {
		height: 175px;
	}
	.staff-member{
		float: none;
		list-style: none;
		border-bottom: 3px solid #eeeeee;
		height: 300px;
		padding-top: 20px;
	}

}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
	/*header for mobile*/
	#social-media-header{
		visibility: hidden;
	}
	
	#navigation ul > li > a {
		float: left;
		display: inline-block;
		text-decoration: none;
		font-size: 1.3em;
		padding-right: 5px;
		width:100%;
		border-bottom:1px solid #999;;
	}
	
	
	#navigation ul {
		list-style-type: none;
		position: relative;
		display: inline;
		width:100%;
	}
	
	#nav-spacer{
		display:none;
	}
	
	#featured-content{
		display:none;
	}
	
	#spotlight{
		display:none;
	}
	
	#header-logo {
		
	}
	
	#streaming-player{
		display:none;
	}
	
	.staff-member{
		float: none;
		list-style: none;
		height: 200px;
		padding-top: 20px;
	}
	
	#exec-staff-list ul li {
	height: 375px;
	display:block;
	margin: 0 auto;
	}
	
	.staff-member a {
		font-size: 15px;
	}
	#exec-staff-list ul li img {
		float:none;
		display:block;
		margin: 0 auto;
		max-width:200px;
		height:auto;
	}

	
	.staff-member-description {
		text-align:center;
		display:block;
		margin: 0 auto;
	}
}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#social-media-header{
		visibility: hidden;
	}
	#navigation ul li {
	font-size: 1.3em;
	list-style-type: none;
	position: relative;
	display: block;
	}
	#navigation ul > li > a {
		float: left;
		display: block;
		text-decoration: none;
		font-size: 1.3em;
		padding-right: 5px;
		width:100%;
	}
	

	
	#featured-content{
		visibility: hidden;
	}
	
	#upcoming-shows{
		position: relative;
		top: -40px;
	}
	#exec-staff-list .staff-member{
		float: none;
		list-style: none;
		border-bottom: 3px solid #eeeeee;
		padding-top: 20px;
		display:block;
		margin: 0 auto;
	}
	
	#exec-staff-list ul li {
	height: 375px;
	}
	
	#exec-staff-list .staff-member a {
		font-size: 15px;
	}
	#exec-staff-list ul li img {
		float:none;
		display:block;
		margin: 0 auto;
		max-width:200px;
		height:auto;
	}
	.staff-member-description {
		text-align:center;
		display:block;
		margin: 0 auto;
	}
}

